
/* normalized */
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #0b0b0b !important;
}

p {
  font-weight: 300;
  color: #a6a8b8;
}

a, a:hover {
  text-decoration: none;
  color: #57f287;
}
.js-btn{
  color: #309f52;
}
hr {
  padding: 1rem 0;
  border: 0;
  border-bottom: 1px solid #309f5259;
}

* {
  box-sizing: border-box;
}

/* global components */

/* typography */
.section__title {
  color: #57f287;
}

/* tabs */
.tab__container {
  position: relative;
}

.tab__container > ul {
  position: absolute;
  list-style: none;
  margin: 0;
  right: 1rem;
  top: -2rem;
  padding-left: 0;
}

.tab__container .code {
  white-space: normal;
  padding: 1rem 1.5rem;
}

.tab {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  font-weight: 200;
  cursor: pointer;
}

.tab.active {
  border-bottom: 1px solid #57f287;
  font-weight: 700;
  display: inline-block;
}

.tab__pane {
  display: none;
}

.tab__pane.active {
  display: block;
}

/* code */
.code {
  border-radius: 3px;
  font-family: Space Mono, SFMono-Regular, Menlo,Monaco, Consolas, Liberation Mono, Courier New, monospace;
  background: #232323;;
  border: 1px solid #57f287;
  color: #57f287;
}

.code--block {
  white-space: pre-line;
  padding: 0 1.5rem;
}

.code--inline {
  padding: 3px 6px;
  font-size: 80%;
}
/* hero section */
.hero {
  text-align: center;
  background-color: var(--bg-color);
  padding: 2rem 0 10rem 0;
}

.hero__title {
  font-weight: 900;
  color: var(--primary-color);
}

.hero__description {
  margin: -1rem auto 2rem auto;
}

.hero__terminal {
  border: 1px solid #57f287;
  text-align: left;
  color: #57f287;
  padding: 0 1rem;
  border-radius: 4px;
  background-color: #232323;
  min-height: 140px;
  animation: fadeUp 2s;
  box-shadow: 0px 12px 36.8px 9.2px rgb(0 0 0 / 10%);
}

.hero__terminal pre {
  white-space: pre-line;
  margin: auto;
}

/* buttons */
.button--primary {
  padding: 10px 22px;
  background-color: #57f287;
  color: white;
  position: relative;
  text-decoration: none;
  border: 0;
  transition: all .3s ease-out;
}

.button--primary:after {
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: var(--accent-color-light);
  right: -0.4rem;
  top: -0.4rem;
  transition: all 0.3s ease-out;
}

.button--primary:hover {
  text-shadow: 0px 1px 1px var(--accent-color-dark);
  color: white;
  transform: translate3D(0, -3px, 0);
}

.button--primary:hover::after {
  transform: rotate(90deg);
}

.button--secondary {
  padding: 10px 22px;
  border: 2px solid #57f287;
  transition: all 0.5s ease-out;
}

.button--secondary:hover {
  border-color: #57f287;
  color: #57f287;
}

/* links */
.link {
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.link:hover {
  color: #57f287;
}

.link--dark {
  color: #a6a8b8;
}

.link--light {
  color: #57f287;
}

/* menu */
nav {
  display: grid;
  grid-template-columns: 70px auto;
}

.menu {
  margin: 0;
  text-align: right;
  overflow: hidden;
  list-style: none;
}

.toggle {
  display: none;
  position: relative;
}

.toggle span,
.toggle span:before,
.toggle span:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 2px;
  background: #57f287;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  right: 0;
}

.toggle span:before {
  top: -6px;
}

.toggle span:after {
  bottom: -6px;
}

.toggle.open span{
  background-color: transparent;
}

.toggle.open span:before,
.toggle.open span:after {
  top: 0;
}

.toggle.open span:before {
  transform: rotate(45deg);
}

.toggle.open span:after {
  transform: rotate(-45deg);
}

.menu__item {
  padding: 1rem;
  display: inline-block;
}

.menu__item.toggle {
  display: none;
}

/* table */
table {
  border-collapse: collapse;
  width: 100%;
  transition: color .3s ease-out;
  margin-bottom: 2rem;
}

table td, table th {
  color: #57f287;
  border: 1px solid #309f5259;
  padding: 0.8rem;
  font-weight: 300;
}

table th {
  text-align: left;
  background-color: #232323;;
  border-color: #309f5259;
  border-bottom-color: #309f5259;
}
table td:first-child {
  background-color: #232323;;
  font-weight: 600;
}


@media screen and (max-width: 1080px) {
  nav {
    grid-template-columns: 70px auto;
  }

  .menu__item{
    display: none;
  }

  .menu__item.toggle {
    display: inline-block;
  }

  .menu {
    text-align: right;
    padding: 0.5rem 1rem;
  }

  .toggle {
    display: block;
  }

  .menu.responsive .menu__item:not(:first-child) {
    display: block;
    padding: 0 0 0.5rem 0;
  }
}

/* layout */
.wrapper {
  margin: 0 auto;
  width: 70%;
}

.footer {
  text-align: center;
  background-color: #57f287;
  padding: 2rem;
  color: white;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translate3d(0,30px,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}
