html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.label {
 color: #57f287;
  border: 1px solid #309f525c;
}

.label-default {
  font-weight: 700;
  background-color: #309f528f;
}

.label-default[href]:focus .label-default[href]:hover {
  background-color: #5e5e5e
}

/* layout */
.header {
  border-bottom: 1px solid #309f5259;
  grid-template-columns: 1fr 150px 60% 1fr;
}

.wrapper {
  display: flex;
  flex-grow: 1;
}

/* logo */
.logo {
  margin: 20px -20px 0px 8px;
  font-weight: 900;
  color: #57f287;
  font-size: 120%;
  grid-column: 2;
}

.logo__thin {
  font-weight: 300;
}

/* menu */
.menu {
  grid-template-columns: 1fr 180px 60% 1fr;
}

.menu__item {
  padding: 1.5rem 1rem;
}

/* guide */
.guide__bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 28%;
  background-color: var(--bg-color);
  z-index: -1;
}

.guide__nav {
  flex-basis: 20%;
  font-weight: 200;
}

.guide__nav ul {
  list-style: none;
  padding-left: 0;
  line-height: 1.8;
}

.guide__nav ul.fixed {
  position: fixed;
  top: 2rem;
}

.guide__nav li:hover {
  cursor: pointer;
  transition: color .3s ease-in-out;
}

.guide__nav .selected {
  color: #57f287;
  position: relative;
}

.guide__nav .selected:after {
  font-family: FontAwesome;
  position: absolute;
  content: "\f0c2";
  left: -1.5rem;
}

.guide__content {
  flex-basis: 80%;
  padding: 0 0 5rem 1rem;
}

@media (max-width: 1080px) {
  .header {
    font-size: x-large;
    grid-template-columns: 1fr 206px 60% 1fr;
  }

  .wrapper {
    flex-direction: column;
    width: auto;
    margin: 0 10% 0 10%;
  }

  .guide__content {
    padding-left: 0;
  }

  .guide__nav ul {
    border-bottom: 1px solid #309f5259;
    padding-bottom: 0.5rem;
  }

  .guide__nav ul.fixed {
    position: relative;
    top: 0;
  }

  .guide__nav li {
    font-size: xx-large;
    display: inline-block;
    padding-right: 1rem;
  }

  .guide__nav .selected:after {
    display: none;
  }
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #0b0b0b;
  border-radius: 2em;

}

::-webkit-scrollbar-thumb {
  background-color: #00b8625c;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: #57f287;
}